body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datetime {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  padding: 15px 10px;
  border: 3px solid;
  border-radius: 5px;
}

.date {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  font-size: 30px;
  font-weight: 600;
}
